<!DOCTYPE html>

<html lang="en">
{% extends 'base.html' %}
{% block title %}About the Agile Conference {% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Agile Con</title>
</head>
<body style="text-align: center">
    <h1 class="centered">What is the Agile Conference?</h1>
    <br>
    <br>
    <h4>The Agile Conference is a one-day conference where we talk all things in the realm of Agile methodology.
    Presentations will be informative and instructive in nature. An optional lunch session is included in the
        middle of the conference.</h4>

</body>
{% endblock %}
</html>