<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<style>
    .contact-us {
        font-family: "Arial Black", serif;
        font-size: 40px;
    }
</style>
<body style="text-align: center">
    <div class = "contact-us">
    <h1>Contact Us!</h1>
    <br>
    <h4>email: agicon@agileconference.com</h4>
    <br>
    <h4>Address: 111 Anyplace Blvd, Omaha,NE 68134</h4>
    <br>
    <h4>Phone Number: (888)-444-5555
        <br> Business Hours: Monday-Friday 8am-5pm</h4>
    <br>
    </div>

</body>
{% endblock %}
</html>