<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block title %}Customer Order List {% endblock %}
{% block content %}
{% if not user.is_staff %}
<html>
    <head>
        <meta http-equiv="refresh" content="0; url='{% url 'login_landing'%}'">
    </head>
{% else %}
</html>
    <html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: beige;

        }
    </style>
    <div class="row">
        <h2 style="padding-left: 15Px">Customer Order Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 260px;">
            <thead>
            <tr class="bg-info">
                <th>Attendee Name</th>
                <th>Presentation ID</th>
                <th>Presentation Time Slot</th>
                <th>Presentation Cost</th>
                <th>Presentation Location</th>
                <th>Presentation No. of Slots</th>
                <th>Presentation Remaining Slots</th>
                <th>Presentation Description</th>

                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in customer_orders %}
                <tr>
                    <td>{{ order.attendee.name }}</td>
                    <td>{{ order.presentation.presentation_id }}</td>
                    <td>{{ order.presentation.timeslot }}</td>
                    <td>{{ order.presentation.cost }}</td>
                    <td>{{ order.presentation.location }}</td>
                    <td>{{ order.presentation.number_of_slots }}</td>
                    <td>{{ order.presentation.number_of_slots_remaining }}</td>
                    <td>{{ order.presentation.description }}</td>
                    <td><a href="{% url 'customer_order_edit' pk=order.pk %}" class="btn btn-warning">Edit</a>

                    <td><a href="{% url 'customer_order_delete' pk=order.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
            {% endfor %}
            </tbody>
        </table>

    </div>
    </body>
    </html>
 {% endif %}
{% endblock %}
</html>
