<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block title %}Presentations{% endblock %}
{% block content %}
<head>
    <title>Presentations</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>

</style>
<body>
<h1 style="text-align: center"><strong>List of Presentations</strong></h1>
    <table class= "table table-striped table-bordered table-hover" style= "font-size: 25px">
        <thead style="background-color: yellow;">
        <tr>
            <td>Presentation</td>
            <td>Presenter</td>
            <td>Time</td>
            <td>Location</td>
            <td>Description</td>
            <td>Number of Remaining Slots</td>
            <td>Cost</td>
        </tr>
        </thead>
        <tbody>
            {% for presentation in presentations %}
            <tr>
                <td>{{ presentation.presentation_id }}</td>
                <td>{{ presentation.presenter_id_id}}</td>
                <td>{{ presentation.timeslot }}</td>
                <td>{{ presentation.location }}</td>
                <td>{{ presentation.description }}</td>
                <td>{{ presentation.number_of_slots_remaining }}</td>
                <td>${{ presentation.cost }}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</body>
{% endblock %}
</html>