<!DOCTYPE html>
<html lang="en">
{% extends 'pethome/base.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}
   <head>
      <meta charset="UTF-8">
    <title>About PetHome</title>
    <style>
        body {
            text-align: center;
        }
        h1 {
            font-weight: bold;
        }
        h4 {
           font-size: 24px;
        }
    </style>
   </head>

<body>
    <h1> Want to Help Homeless Pets?</h1>
    <br>
    <br>
    <h1>1. Volunteering</h1>
    <h4>Volunteering is a great way to help pets in need and meet other caring humans like you! It is a great way to boost your resume and socialize!</h4>
    <br>
    <br>
    <h1>2. Share and Let More People Know About Us!</h1>
    <h4>The more the merrier! Share PetHome on your personal Social networking website and let more people know about us</h4>
    <br>
    <br>
    <h1>Donate</h1>
    <h4> Any penny you donate could save an animal's life!</h4>
    <h4> We really appreciate for any donation you make</h4>
    <br>
    <br>
    <h1>3. Any Questions?</h1>
    <h4>Please contact us at pethomesupport@gmail.com</h4>
<br>
<br>
<br>



</body>


{% endblock %}
</html>
